<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Enhanced</title>
    <link rel="stylesheet" href="/generated/bundle.css" />
  </head>
  <body>
    <div id="app">{{{ markup }}}</div>
    <script type="text/javascript">
      window.__INITIAL_STATE__={{{ initialState }}};
    </script>
    <script src="/generated/bundle.js" async></script>
  </body>
</html>
